{% extends "base.html.twig" %}
{% block body %}
    <header class="masthead" style="background-image: {{ asset('img/post-bg.jpg') }}">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{ article.getTitle() }}</h1>
                        <h2 class="subheading">{{  article.getSubTitle() }}</h2>
                        <span class="meta">Posted by
              <a href="#">{{ article.getAuthor() }}</a>
              {{ article.getCreatedAt()|date }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {{article.getBody()}}

                    <a href="#">
                        <img class="img-fluid" src="{{article.getImage()}}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </article>

    <div class="container">
        <div class="row">
            <h3 class="col-lg-8 col-md-10 mx-auto">{{article.comments.count()}} Comments</h3>
        </div>

        <!-- Comments Form -->
        {{ form_start(commentForm) }}
        {{ form_row(commentForm.name) }}
        {{ form_row(commentForm.email) }}
        {{ form_row(commentForm.comment) }}
        <button type="submit" class="btn btn-secondary">Submit</button>
        {{ form_end(commentForm) }}
        {% for comment in article.comments %}
            <div class="row">
                <div class="media mb-4 mt-4 col-lg-8 col-md-10 mx-auto">
                    <div class="media-body">
                        <h5 class="mt-0">{{comment.name}} <small>{{article.getCreatedAt().format("M j, Y")}}</small></h5>
                        <blockquote>{{comment.comment}}</blockquote>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
